main {
  width: 300px;
  margin: 0  auto;
}

img {
  vertical-align: bottom;
}

#main {
  width: 300px;
  height: 200px;
  margin-bottom: 8px;
}

nav {
  margin-bottom: 8px;
}

nav ul {
  display: flex;
  justify-content:space-between;
}

nav li {
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

nav li:hover {
  background-color: whitesmoke;
} 

.thumbnails {
  display: grid;
  grid-template-columns: repeat(5,56px);
  gap: 5px;
}

.thumbnails li {
  cursor: pointer;
  opacity: 0.4;
}

.thumbnails li:hover,
.thumbnails li.current {
  opacity: 1;
}

#play {
  width:140px;
}

#prev,
#next{
 width: 60px;
}

ul{
  list-style: none;
  margin:0;
  padding: 0;
}

.thumbnails img {
  width: 56px;
}